<!DOCTYPE html>
<head>
	<title>Wi-Finder</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'kiyeme/180.css' %}">
	<script>
	    function test(){
            return true;
            if (valt && vald){
                console.log("hello");
                return true;
                document.getElementById("sbmt").click()
            }
	    }
	    //SELECT wifinames.name AS wifiname, AVG(capability) AS cap, AVG(quality) AS qual, AVG(rating) AS rate, CEILING(AVG(proxy)) AS prox FROM ratings join wifinames on (wifinames.id=ratings.wifiid) WHERE day=1 AND time=1 GROUP BY wifiname ORDER BY cap DESC, qual DESC, rate DESC, prox ASC;
	</script>
</head>

<body>
<div class="center">
    <img src="{% static 'kiyeme/logo.png' %}" alt="Wi-Finder_logo" width="174" height="142"/>
</div>

<h1 style="text-align:center;">Wi-Finder</h1>
<p style="text-align:center;">A CS180 Project by 2 Sabaw Guys</p>

 <div class = "center">
    {% if error %}
    <p>invalid input :(</p>
    {% endif %}
	<form action = "{% url 'results' %}" method="POST"><br />
    {% csrf_token %}
    <select name="loc">
        <option for="loc" value="">Select a location...</option>
        {% for loc in locations %}
        <option for="loc" value="{{ loc }}">{{ loc }}</option>
        {% endfor %}
    </select>
    <button onclick="return test()" style="size: 200px">Go</button>
    <input id="sbmt" type="submit" value="Submit" style = "size: 200px;visibility:hidden;">
	</form>
 </div>
 <br /> <br />
<div class = "center" id="Instructions" "style = size: 500px;">
<h1 style="text-align:center;">Instructions</h1>
<p style = "text-align: center;">
Input the following values with this format: <br />
Day - M/T/W/Th/F <br />
Time - From 07:00 to 17:30 only
</p>
</div>


</body>
</body>

</html>