<!DOCTYPE html>
<html>
    <head>
        <title>Wi-Finder</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'kiyeme/main.css' %}">
        <script src="{% static 'kiyeme/jquery-3.1.1.min.js' %}"></script>
        <script src="../../kiyeme/static/kiyeme/jquery-3.1.1.min.js"></script>
    </head>

    <body>
        <header>
            <img id="logo" src="{% static 'kiyeme/logo1.png' %}" alt="Wi-Finder"/>
            <h1 style="text-align:center;">Wi-Finder</h1>
            <p style="text-align:center;">A CS192 Project by 2 Sabaw Guys</p>
        </header>
            

        <section id="wrapper">
            <div class = "center">
                {% if error or done %}
                    <div id="msg">
                        <p>
                            {% if error %}
                                invalid input :(
                            {% elif done %}
                                Your rating was successfully recorded.
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
                <form id="loc-inp" action = "{% url 'results' %}" method="POST">
                    {% csrf_token %}
                    <select name="loc" required>
                        <option for="loc" value="">Select a location...</option>
                        {% for id,loc in locations.items %}
                            <option for="loc" value="{{ id }}">{{ loc }}</option>
                        {% endfor %}
                    </select>
                    <label for="dist"> Enable Search by Radius:</label>
                    <input id="dist"type="checkbox" name="dist" onchange="toggleDist(this.checked);"></input>
                    <label for="rad"> Search Radius </label>
                    <input id="rad" type="number" name="rad" min="10" required disabled></input>
                    <span>meters</span>
                    <input type="submit" value="Search for Wi-Fi">
                </form>
            </div>
        </section>
        <script>
            function toggleDist(tog){
                $('input[name="rad"]')[0].disabled = !tog;
            }
        </script>
    </body>
</html>