<!DOCTYPE html>
<html>
    <head>
        <title>Wi-Finder</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'kiyeme/main.css' %}">
    </head>

    <body>
        <header>
            <img src="{% static 'kiyeme/logo1.png' %}" alt="Wi-Finder_logo" width="174" height="142"/>
            <h1 style="text-align:center;">Wi-Finder</h1>
        </header>
        <section id="wrapper">
            <h2> Thank you for using the app! </h2>
            <div class = "center">
                <form action = "{% url 'index' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Next">
                </form>
            </div>
        </section>
    </body>
</html>