<!DOCTYPE html>
<html>
    <head>
        <title>Wi-Finder</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'kiyeme/main.css' %}">
    </head>
    <body>
        <header>
            <a href="{% url 'index' %}">
                <img id="logo" src="{% static 'kiyeme/logo1.png' %}" alt="Wi-Finder"/>
            </a>
            <h1 style="text-align:center;">Wi-Finder</h1>
        </header>
        <section id="wrapper">
            <div class = "center" id="wrapper">
                <div class="center" id="wifiinfo">
                    <h1 id="wifi">
                        {{ wifi|first }}
                    </h1>
                    <p>
                        <span class="stars" data-rate="{{ wifi|slice:"2:3"|first }}{% comment %}"{% endcomment %}"> 
                            {% for i in "12345" %}
                            <i class="star"></i>
                            {% endfor %}
                        </span>
                        --
                        <span> {{ wifi|slice:"3:4"|first }}m away</span>
                    </p>
                </div>
                <form action="{% url 'index' %}" method="POST" class="rate">
                    {% csrf_token %}
                    <input type="hidden" name="wifiid" value="{{ wifi|slice:"1:2 "|first }}">
                    <h2>Add a rating:</h2>
                    <p class="stars">
                        <input class="rate starx" type="radio" name="rate" value="0" required checked>
                        {% for i in "12345" %}
                            <input class="rate star" type="radio" name="rate" value="{{ forloop.counter }}" required>
                        {% endfor %}
                    </p>
                    <textarea name="comment" placeholder="Enter your comment here..."></textarea>
                    <input type="submit" value="Rate">
                </form>
                {% if reviews %}
                    <ul id="reviews">
                        {% for rev in reviews %}
                            <li>
                                <div class="revrate">
                                    <span class="stars" data-rate="{{ wifi|slice:"2:3"|first }}{% comment %}"{% endcomment %}"> 
                                        {% for i in "12345" %}
                                        <i class="star"></i>
                                        {% endfor %}
                                    </span>
                                    <time>
                                        {{ rev.stamp }}
                                    </time>
                                </div>
                                <div class="comment">
                                    {% if rev.comment %}
                                        <i>"</i>
                                        <blockquote>
                                            <p>
                                                {{ rev.comment }}
                                            </p>
                                        </blockquote>
                                        <i>"</i>
                                    {% else %}
                                        <p>
                                            (No comment)
                                        </p>
                                    {% endif %} 
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p id="norevs">
                        No one has made a review of this Wi-Fi spot yet. 
                    </p>
                {% endif %}
            </div>
        </section>
        <footer id="return">
            <form action = "{% url 'results' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="loc" value="{{ src }}">
                <input id="sbmt" type="submit" value="Back">
            </form>
        </footer>
    </body>
</html>