.center {
   text-align: center;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}

header, footer{
    text-align: center;
    background: #2980b9;
    padding: 2em 0;
}
#wrapper{
    width: calc(100% - 20em);
    min-width: 756px;
    margin: .75em auto;
}
label{
	display: inline-block;
	min-width: 3em;
    text-align: right
	color: white;	
}
input {
    display: inline-block;
}
input[type="submit"] {
    font-size: 1em;
    padding: 0.1em 0.5em;
    display: block;
    margin: 1em auto 0;
}
body
{
	background-color: #d9d9d9;
	color:white;
	font-family: "Open Sans", "San Fransisco", "Segoe UI Light", "Helvetica Neue", sans-serif;
	margin:0;
	padding:0;
}

form{
    text-align:left;
    width: calc(100% - 4em);/**/
    margin: 0 auto 1em;
    background: #3498db;
    border-radius: 2em;
    padding: 2em;
}

#dist{
    margin-right: 2em;
}

#rad{
    width:3em;
}

#wifi{
    font-size: 2em;
}

.stars{
    padding: 0;
    margin: 0;
}

.revrate .stars{
    font-size:0.5em;
}

p.stars{
    text-align: center;
}

.stars > *{    height: 1em;
    width: 1em;
}

input.star, input.starx{
    font-size:5em;
    height: 1em;
    width: 1em;
    cursor: pointer;
}
.stars .star, .starx{
    display: inline-block;
    position: relative;
    -webkit-appearance: none;
}

.stars .star::after, .starx::after{
    width:100%;
    height:100%;
    display: block;
    content:'';
}

.starx::after {background: url("starx.png") center center / 1em 1em;}

span .star::after{background: url("star_.png") center center / 1em 1em;}
span.stars[data-rate="1"] .star:nth-child(-n+1)::after,
span.stars[data-rate="2"] .star:nth-child(-n+2)::after,
span.stars[data-rate="3"] .star:nth-child(-n+3)::after,
span.stars[data-rate="4"] .star:nth-child(-n+4)::after,
span.stars[data-rate="5"] .star:nth-child(-n+5)::after{
    background-image: url("star.png");
}

p.stars .star::after {background: url("star.png") center center / 1em 1em;}
p.stars :checked ~ .star::after{background-image: url("star_.png");}

textarea {
    height: 5em;
    width: calc(100% - 2em);
}
header *{
    margin: 0;
}

#loc-inp select{
    font-size: 1.25em;
    width:100%;
}

li, #wifiinfo, #thanks{
    background: #3498db;
    border-radius: 2em;
    font-size: 2em;
    padding: 0.25em;
    margin: 0.55em;
}

li, #norevs, #reshead{
    color: #000;
}

li *, #thanks{
    color: #fff;
}

#reviews{
    list-style-type:none;
    -webkit-padding-start:0;
}

#reviews li{
    position:relative;
}

#thanks{
    text-align: center;
}

h1,h2,h3{
    margin: 0.25em;
}

.notround{
    border-radius:0;
}

.lessround{
    border-radius:0.5em;
}

#reshead{
    text-align: center;
}

#results, #reviews, #norevs{
    margin-bottom: 5.5em;
}

footer{
    position:fixed;
    bottom: 0;
    left: 0; right: 0;
    padding:0;
}

footer form{
    border-radius: 0;
    margin: 0;
    padding: 1em;
    background: none;
}

.revrate{
    display:inline-block;
    width: 4em;
    padding:0;
    margin:1em 0 0 0;
    font-size: 1em;
    line-height: 0.5em;
    vertical-align: top;
}

.revrate time{
    font-size: 0.5em;/**/
}

.comment{
    background:rgba(0,0,0,0.5);
    width:calc(100% - 7em);
    position:relative;
    margin:1em;
    display:inline-block;
}

.comment > i{
    font-size:3em;
    display:inline-block;
    width:1em;
}

.comment > blockquote{
    display:inline-block;
    width:calc(100% - 7em);
    margin:0;
}

#msg {
    color:#000;
}