.center {
   text-align: center;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}


label{
	display: inline-block;
    float: center;
    width: 70px;
    text-align: right;
	font-family: sans-serif;
	color: white;	
}
input {
    display: inline-block;
}

body
{
	background-color: #003e77;
	color:white;
	font-family: "Open Sans", "San Fransisco", "Segoe UI Light", "Helvetica Neue", sans-serif;
}

#wifi{
    font-size: 2em;
}